@import "tailwindcss";

@theme {
  --color-primary: 221 222 227;
  --color-primary-foreground: 255 255 255;
  --color-muted: 240 240 240;
  --color-muted-foreground: 63 63 70;
  --radius-lg: 0.5rem;
  /* Add any other custom theme colors you use */
}
